<template>
    <div v-if="docsTranslations">
        <div :id="'docs-' + idR" uk-modal="">
            <div class="uk-modal-dialog uk-modal-body" uk-overflow-auto>
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">{{ docsTranslations.serach_upload }}</h2>
                <input v-if="allowRepository" v-model="filter" autofocus placeholder="Filtrar" name="filter" type="text" class="uk-input" style="width: 25%">
                <ul :ref="'docs-tab-' + idR" class="uk-flex-center" :uk-tab="'connect: #docs-content-' + idR + '; media: 960'">
                    <li v-if="allowRepository"><a href="#">{{ docsTranslations.search }}</a></li>
                    <li><a href="#">{{ docsTranslations.upload }}</a></li>
                </ul>
                <ul :id="'docs-content-' + idR" class="uk-switcher">
                    <li v-if="allowRepository" class="uk-flex uk-flex-column" style="margin-left: 0px;">
                        <paginate
                                name="docs"
                                :list="docs"
                                :per="perPage"
                                ref="paginator"
                                style="padding-left: 0px;">
                            <div style="padding: 5px; margin-top: 0px; border-color: #38C172"
                                 v-for="doc in paginated('docs')"
                                 class="uk-width-1-2 uk-text-left uk-inline"
                                 v-if="doc != null"
                                 @click="addDoc(doc)">
                                <div class="uk-flex">
                                    <div class="uk-inline uk-text-truncate" :class="{'lf-selected-doc': checkSelected(doc)}" style="padding: 0px 5px 5px 5px;" :title="doc.name">
                                        &bull; {{doc.name}}
                                    </div>
                                    <div v-if="checkSelected(doc)" class="uk-inline">
                                        <div @click.stop="deleteDoc(doc.id)"
                                             style="cursor: pointer;
                                                background-color: white;
                                                border-radius: 50%;
                                                width: 25px;
                                                height: 25px;"
                                             class="uk-text-center">
                                            <i class="mdi mdi-check"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </paginate>
                        <div>
                            <paginate-links
                                    class="uk-margin-small-left"
                                    for="docs"
                                    :show-step-links="true"
                                    :limit="5"
                                    :async="true"
                                    @change="onPagedDocsChange"
                                    :classes="{
                                    'ul': 'uk-pagination',
                                    '.active': 'uk-active',
                                    '.disabled' : 'uk-disabled',
                              }"
                            ></paginate-links>
                        </div>
                    </li>
                    <li>
                        <div class="uk-margin">
                            <label class="uk-form-label">{{ docsTranslations.name }}</label>
                            <div class="uk-form-controls">
                                <input :class="{ 'uk-form-danger': errors && errors.hasOwnProperty('name') }" required autofocus v-model.trim="doc_name" :placeholder="docsTranslations.name" type="text" class="uk-input">
                                <span v-if="errors && errors.hasOwnProperty('name')" class="uk-text-small uk-text-danger">{{ errors.name[0] }}</span>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <dropzone
                                    :id="idR"
                                    :ref="'dz-docs-' + idR"
                                    :options="options"
                                    v-on:vdropzone-success="uploadedFile"
                                    v-on:vdropzone-queue-complete="finishedUpload"
                                    v-on:vdropzone-error="errorUpload">
                            </dropzone>
                        </div>
                    </li>
                </ul>
                <div class="uk-margin-top uk-text-center">
                    <button class="uk-button uk-button-primary uk-modal-close" type="button">{{ docsTranslations.close }}</button>
                </div>
            </div>
        </div>
        <div v-if="showSelected && values">
            <div uk-grid>
                <div class="uk-width-auto" v-for="doc in currentDocs" v-if="currentDocs && currentDocs.length > 0" style="margin-top: 0px;">
                    <div class="uk-inline">
                        <div :id="'doc_'+doc.id" class="uk-inline" style="">
                            {{ doc.name }}
                        </div>
                        <div class="uk-inline">
                            <div @click="deleteDoc(doc.id)"
                                 style="cursor: pointer; margin-top: 2px;"
                                 class="uk-text-center">
                                <i class="mdi mdi-delete"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Vue from 'vue';
    import Dropzone from 'vue2-dropzone';
    Vue.component('dropzone', Dropzone);
    export default {
        name: 'docs-repo',
        props: ['csrf', 'values', 'allowRepository', 'showSelected', 'uniqueDoc', 'idR', 'onUploadedFile', 'onFinishedUpload', 'maxFiles'],
        data() {
            return {
                doc_name: null,
                docs: [],
                paginate: ['docs'],
                filter: '',
                perPage: 1,
                lastPage: 1,
                changingPage: false,
                previousFilter: '',
                currentDocs: [],
                errors: null,
                needFetch: true,
                options: {
                    url: window.upload_docs_url,
                    dictDefaultMessage: window.translations_docs.drop_files,
                    dictResponseError: window.translations_docs.dictResponseError,
                    maxFilesize: 2,
                    maxFiles: this.maxFiles && !this.uniqueDoc ? this.maxFiles : 1,
                    method: 'POST',
                    autoProcessQueue: true,
                    addRemoveLinks: true,
                    params: {
                        '_token': this.csrf,
                        'name': '',
                    },
                },
                docsTranslations: window.translations_docs,
                docsUrl: window.docs_url,
                getDocsUrl: window.get_docs_url,
                uploadDocsUrl: window.upload_docs_url,
                singleDocUrl: window.single_doc_url
            }
        },
        watch: {
            filter: function(val){
                this.updateDocs();
            },
            doc_name(val) {
                this.options.params.name = val;
            },
            values(val) {
                this.getCurrentDocs()
            },
        },
        computed: {
        },
        methods: {
            checkSelected(doc) {
                if (!this.values)
                    return false;
                else if (this.uniqueDoc && this.values == doc.id)
                    return true
                else if(!this.uniqueDoc && this.values.includes(doc.id))
                    return true;
                return false;
            },
            getCurrentDocs() {
                if (this.needFetch) {
                    let docs = Array.isArray(this.values) ? this.values : (this.values == null ? [] : [this.values]);

                    if (docs && docs.length > 0) {
                        this.getDocs(docs)
                    }
                }
            },
            onPagedDocsChange(toPage, lastPage) {
                if(!this.changingPage){
                    this.updateDocs(toPage);
                }
                this.changingPage = false
            },
            deleteDoc(id) {
                this.needFetch = false;
                if (this.uniqueDoc) {
                    this.$emit('update:values', null);

                    this.currentDocs.splice(this.currentDocs.findIndex(file => file.id == id), 1)

                    if (this.onUploadedFile)
                        this.onUploadedFile('deleted', id)
                } else {
                    var vals = this.values.slice();
                    if (vals.includes(id)) {
                        vals.splice(vals.indexOf(id), 1);
                        this.currentDocs.splice(this.currentDocs.findIndex(file => file.id == id), 1)

                        if (this.onUploadedFile)
                            this.onUploadedFile('deleted', id)
                    }
                    this.$emit('update:values', vals);
                }
            },
            getDoc(id) {
                axios.get(this.singleDocUrl + '?id=' + id)
                        .then(response => {
                            if (response.data.name) {
                                this.currentDocs.push(response.data)
                            }
                        })
                        .catch((error) => {
                            console.log('Error getting doc by ID');
                        });
            },
            getDocs(ids) {
                axios.post(this.getDocsUrl, {
                    ids: ids
                })
                .then(res => {
                    this.currentDocs.push(...res.data)
                })
                .catch(err => {
                    console.log('Error getting docs by IDs')
                    console.log(err)
                })
            },
            addDoc(doc) {
                this.needFetch = false;
                if (this.uniqueDoc) {
                    if (this.values == doc.id) {
                        this.$emit('update:values', null);

                        this.currentDocs.splice(this.currentDocs.findIndex(file => file.id == doc.id), 1)

                        if (this.onUploadedFile)
                            this.onUploadedFile('deleted', doc.id)
                    } else {
                        this.$emit('update:values', doc.id);

                        this.currentDocs = [doc];

                        if (this.onUploadedFile)
                            this.onUploadedFile('added', doc)
                    }
                } else {
                    var vals = this.values.slice();
                    if (!vals.includes(doc.id)) {
                        vals.push(doc.id);
                        this.currentDocs.push(doc)

                        if (this.onUploadedFile)
                            this.onUploadedFile('added', doc)
                    } else {
                        vals.splice(vals.indexOf(doc.id), 1);
                        this.currentDocs.splice(this.currentDocs.findIndex(file => file.id == doc.id), 1)

                        if (this.onUploadedFile)
                            this.onUploadedFile('deleted', doc.id)
                    }
                    this.$emit('update:values', vals);
                }
            },
            updateDocs(page=1) {
                var filter = this.filter;
                axios.get(this.docsUrl + '?page=' + page + '&filter=' + filter)
                    .then((response) => {
                        this.setDocs(response.data);

                        // Prevent doc request on changing page if filter has changed
                        if (this.filter != this.previousFilter) {
                            this.previousFilter = this.filter;
                            this.changingPage = true;
                        }
                    })
                    .catch((error) => {
                        console.log('Error updating docs');
                    });
            },
            setDocs(data){
                // Set per page value
                this.perPage = data.per_page;
                this.lastPage = data.last_page;
                // Initialize docs array with offset
                this.docs = [...Array(this.perPage * (data.current_page-1))];
                // Fill docs array
                data.data.forEach(doc => {
                    this.docs.push(doc);
                });
                // Set docs array length
                this.docs.length = data.total;
            },
            uploadedFile(file, response) {
                this.errors = null;
                this.needFetch = false;

                $.mdtoast(this.docsTranslations.document_uploaded, { duration: 5000 });

                this.updateDocs();
                var vals = this.values;
                if (this.uniqueDoc) {
                    vals = response.id;
                } else {
                    vals.push(response.id);
                }
                this.$emit('update:values', vals);

                this.currentDocs.push(response)

                if (this.onUploadedFile)
                    this.onUploadedFile('added', response)
            },
            finishedUpload() {
                if (!this.errors) {
                    swal(
                            "Success",
                            '',
                            'success'
                    );

                    UIkit.tab(this.$refs['docs-tab-' + this.idR]).show(0);

                    if (this.$refs.paginator) {
                        this.$refs.paginator.goToPage(1)
                    }

                    if (this.onFinishedUpload)
                        this.onFinishedUpload()
                }
            },
            errorUpload(file, data, xhr){
                this.errors = data.errors ? data.errors : data;
                let message = data.message ? data.message : data;
                if(message.includes('File is too big')){
                    swal(
                            "Error",
                            "File too big, max file size: 2MB",
                            'error'
                    );
                } else if(message.includes('You can not upload any more files')) {
                    swal(
                            "Error",
                            "Some documents have not been uploaded",
                            'error'
                    );
                } else {
                    swal(
                            "Error",
                            '',
                            'error'
                    );
                }
                let myDropzone = this.$refs['dz-docs-'+this.idR];
                if(myDropzone)
                    myDropzone.removeFile(file);
            }
        },
        created() {
            if (!this.values && !this.uniqueDoc)
                this.$emit('update:values', []);

            this.updateDocs();
            this.getCurrentDocs()
        }

    }
</script>
<style>
    .lf-selected-doc {
        border-color: #38C172;
        border-style: solid;
        border-radius: 5px;
        border-width: 2px;
    }
</style>
