<template>
    <div v-if="imagesTranslations">
        <div :id="'images-' + idR" uk-modal="">
            <div class="uk-modal-dialog uk-modal-body" uk-overflow-auto>
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">{{ imagesTranslations.serach_upload }}</h2>
                <input v-if="allowRepository" v-model="filter" autofocus placeholder="Filtrar" name="filter" type="text" class="uk-input" style="width: 25%">
                <ul :ref="'images-tab-' + idR" class="uk-flex-center" :uk-tab="'connect: #images-content-' + idR + '; media: 960'">
                    <li v-if="allowRepository"><a href="#">{{ imagesTranslations.search }}</a></li>
                    <li><a href="#">{{ imagesTranslations.upload }}</a></li>
                </ul>
                <ul :id="'images-content-' + idR" class="uk-switcher">
                    <li v-if="allowRepository" class="uk-flex uk-flex-column" style="margin-left: 0px;">
                        <paginate
                                name="images"
                                :list="images"
                                :per="perPage"
                                ref="paginator"
                                >
                            <div
                                style="padding: 5px; margin-top: 0px; border-color: #38C172"
                                v-for="image in paginated('images')"
                                class="uk-width-1-3 uk-text-center uk-inline"
                                v-if="image != null"
                                @click="addImage(image)"
                                >
                                <div class="uk-inline">
                                    <img
                                        :class="{
                                            'lf-selected-image': uniqueImage ? values == image.id : values.includes(image.id)
                                        }"
                                        :src="image.base64"
                                        >
                                    <div
                                        v-if="uniqueImage ? values == image.id : values.includes(image.id)"
                                        class="uk-position-top-right uk-overlay"
                                        style="padding: 10px 10px"
                                        >
                                        <div @click="deleteImage(image.id)"
                                            style="cursor: pointer;
                                                background-color: white;
                                                border-radius: 50%;
                                                width: 25px;
                                                height: 25px;"
                                            class="uk-text-center"
                                            >
                                            <i class="mdi mdi-check"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </paginate>
                        <div>
                            <paginate-links
                                class="uk-margin-small-left"
                                for="images"
                                :show-step-links="true"
                                :limit="5"
                                :async="true"
                                @change="onPagedImagesChange"
                                :classes="{
                                    'ul': 'uk-pagination',
                                    '.active': 'uk-active',
                                    '.disabled' : 'uk-disabled',
                              }"
                            ></paginate-links>
                        </div>
                    </li>
                    <li>
                        <div class="uk-margin">
                            <dropzone
                                :id="idR"
                                :ref="'dz-images-' + idR"
                                :options="{
                                    url: uploadImagesUrl,
                                    dictDefaultMessage: imagesTranslations.drop_files,
                                    maxFilesize: 2,
                                    method: 'POST',
                                    acceptedFiles: 'image/*',
                                    autoProcessQueue: true,
                                    params: {
                                        '_token': csrf
                                    },
                                }"
                                v-on:vdropzone-success="uploadedFile"
                                v-on:vdropzone-queue-complete="finishedUpload"
                                v-on:vdropzone-error="errorUpload">
                            </dropzone>
                        </div>
                    </li>
                </ul>
                <div class="uk-margin-top uk-text-center">
                    <button class="uk-button uk-button-primary uk-modal-close" type="button">{{ imagesTranslations.close }}</button>
                </div>
            </div>
        </div>
        <div v-if="showSelected && values">
            <div uk-grid>
                <div class="uk-width-auto uk-margin-small-top" v-for="img in currentImages" v-if="currentImages && currentImages.length > 0">
                    <div class="uk-inline">
                        <img :id="'img_'+img.id" :src="img.base64" alt="" class="uk-inline" style="max-width: 125px; min-height: 34px;">

                        <div class="uk-position-top-right uk-overlay uk-inline" style="padding: 4px">
                            <div @click="deleteImage(img.id)"
                                style="cursor: pointer;
                                    background-color: white;
                                    border-radius: 50%;
                                    width: 25px;
                                    height: 25px;"
                                class="uk-text-center">
                                <i class="mdi mdi-delete" style="position: relative; top: -2px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Vue from 'vue';
    import Dropzone from 'vue2-dropzone';
    Vue.component('dropzone', Dropzone);
    export default {
        name: 'image-repo',
        props: ['csrf', 'values', 'allowRepository', 'showSelected', 'uniqueImage', 'idR', 'saveUrl', 'imagesTransUrl'],
        data() {
            return {
                images: [],
                paginate: ['images'],
                filter: '',
                perPage: 1,
                lastPage: 1,
                changingPage: false,
                previousFilter: '',
                currentImages: [],
                needFetch: true,
                imagesTranslations: window.translations_images,
                imagesUrl: window.images_url,
                uploadImagesUrl: window.upload_images_url,
                singleImageUrl: window.single_image_url
            }
        },
        watch: {
            filter: function(val){
                this.updateImages();
            },
            values(val) {
                this.getCurrentImages()
            },
        },
        computed: {
        },
        methods: {
            getCurrentImages() {
                if (this.needFetch) {
                    let imgs = Array.isArray(this.values) ? this.values : (this.values == null ? [] : [this.values]);

                    if (imgs && imgs.length > 0) {
                        imgs.forEach(id => {
                            this.getImage(id)
                        })
                    }
                }
            },
            onPagedImagesChange(toPage, lastPage) {
                if(!this.changingPage){
                    this.updateImages(toPage);
                }
                this.changingPage = false
            },
            deleteImage(id) {
                this.needFetch = false;

                if (this.uniqueImage) {
                    this.$emit('update:values', null);

                    this.currentImages.splice(this.currentImages.findIndex(file => file.id == id), 1)
                } else {
                    var vals = this.values.slice();
                    if (vals.includes(id)) {
                        vals.splice(vals.indexOf(id), 1);
                        this.currentImages.splice(this.currentImages.findIndex(file => file.id == id), 1)
                    }
                    this.$emit('update:values', vals);
                }
            },
            getImage(id) {
                axios.get(this.singleImageUrl + '?id=' + id)
                        .then(response => {
                            if (response.data.name)
                                this.currentImages.push(response.data)
                        })
                        .catch((error) => {
                            console.log('Error getting image by ID');
                        });
            },
            addImage(image) {
                this.needFetch = false;

                if (this.uniqueImage) {
                    if (this.values == image.id) {
                        this.$emit('update:values', null);
                        this.currentImages.splice(this.currentImages.findIndex(file => file.id == image.id), 1)
                    } else {
                        this.$emit('update:values', image.id);
                        this.currentImages = [image];
                    }
                } else {
                    var vals = this.values.slice();
                    if (!vals.includes(image.id)) {
                        vals.push(image.id);
                        this.currentImages.push(image)
                    } else {
                        vals.splice(vals.indexOf(image.id), 1);
                        this.currentImages.splice(this.currentImages.findIndex(file => file.id == image.id), 1)

                    }
                    this.$emit('update:values', vals);
                }
            },
            updateImages(page=1) {
                var filter = this.filter;
                axios.get(this.imagesUrl + '?page=' + page + '&filter=' + filter)
                    .then((response) => {
                        this.setImages(response.data);

                        // Prevent image request on changing page if filter has changed
                        if(this.filter != this.previousFilter){
                            this.previousFilter = this.filter;
                            this.changingPage = true;
                        }
                    })
                    .catch((error) => {
                        console.log('Error updating images');
                    });
            },
            setImages(data){
                // Set per page value
                this.perPage = data.per_page;
                this.lastPage = data.last_page;
                // Initialize images array with offset
                this.images = [...Array(this.perPage * (data.current_page-1))];
                // Fill images array
                data.data.forEach(image => {
                    this.images.push(image);
                });
                // Set images array length
                this.images.length = data.total;
            },
            uploadedFile(file, response) {
                this.needFetch = false;

                $.mdtoast(this.imagesTranslations.image_uploaded, { duration: 5000 });

                this.updateImages();
                var vals = this.values;
                if (this.uniqueImage) {
                    vals = response.id;
                    this.currentImages = [response]
                } else {
                    vals.push(response.id);
                    this.currentImages.push(response)
                }

                if (Array.isArray(vals)) {
                    vals.forEach(element => {
                        if (!element.hasOwnProperty('image_id')) {
                            element.image_id = element.id
                        }
                    })
                } else {
                    if (!vals.hasOwnProperty('image_id')) {
                        vals.image_id = vals.id
                    }
                }
                this.$emit('update:values', vals);
            },
            finishedUpload(files) {
                if (!this.errors) {
                    UIkit.tab(this.$refs['images-tab-' + this.idR]).show(0);
                    this.$emit('finished-upload', files);
                    if (this.$refs.paginator) {
                        this.$refs.paginator.goToPage(1)
                    }
                }
            },
            errorUpload(file, message, xhr){
                this.errors = {
                    status: 'Error',
                    message: message
                };

                if(message.includes('File is too big')){
                    swal(
                        "Error",
                        "File too big, max file size: 2MB",
                        'error'
                    );
                } else if(message.includes('You can not upload any more files')) {
                    swal(
                            "Error",
                            "Some files have not been uploaded",
                            'error'
                    );
                }
            }
        },
        created() {
            this.updateImages();
            this.getCurrentImages()
        }

    }
</script>
<style>
    .lf-selected-image {
        border-color: #38C172;
        border-style: solid;
        border-radius: 5px;
        border-width: 5px;
    }
</style>
