<template>
    <div v-if="imagesTranslations">
        <div class="uk-margin-small-bottom">
            <span class="uk-text-small ">* {{ imagesTranslations.seo_images_info }}</span>
        </div>
        <div :id="'images-seo-' + idR" uk-modal="">
            <div class="uk-modal-dialog uk-modal-body" uk-overflow-auto>
                <button class="uk-modal-close-default" type="button" uk-close></button>

                <h2 class="uk-modal-title">{{ imagesTranslations.serach_upload }}</h2>
                <input v-if="allowRepository" v-model="filter" autofocus placeholder="Filtrar" name="filter" type="text" class="uk-input" style="width: 25%">

                <ul :ref="'images-seo-tab-' + idR" class="uk-flex-center" :uk-tab="'connect: #images-seo-content-' + idR + '; media: 960'">
                    <li v-if="allowRepository"><a href="#">{{ imagesTranslations.search }}</a></li>
                    <li><a href="#">{{ imagesTranslations.upload }}</a></li>
                </ul>

                <ul :id="'images-seo-content-' + idR" class="uk-switcher">
                    <li v-if="allowRepository" class="uk-flex uk-flex-column" style="margin-left: 0px;">
                        <paginate name="images" :list="images" :per="perPage" ref="paginator">
                            <div
                                    v-for="image in paginated('images')"
                                    class="uk-width-1-3 uk-text-center uk-inline list-image"
                                    v-if="image != null"
                                    @click.stop="addImage(image)">
                                <div class="uk-inline">
                                    <img :class="{'lf-selected-image': getIsSelected(image)}" :src="image.base64" :alt="image.name">
                                    <div v-if="getIsSelected(image)" class="uk-position-top-right uk-overlay" style="padding: 8px">
                                        <div @click.stop="deleteImage(image.image_id)" class="uk-text-center overlay-icon">
                                            <i class="mdi mdi-check"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </paginate>
                        <div>
                            <paginate-links
                                    class="uk-margin-small-left"
                                    for="images"
                                    :show-step-links="true"
                                    :limit="5"
                                    :async="true"
                                    @change="onPagedImagesChange"
                                    :classes="{
                                    'ul': 'uk-pagination',
                                    '.active': 'uk-active',
                                    '.disabled' : 'uk-disabled',
                              }"
                            ></paginate-links>
                        </div>
                    </li>
                    <li>
                        <div class="uk-margin">
                            <dropzone
                                    :id="idR"
                                    :ref="'dz-images-seo' + idR"
                                    :options="{
                                    url: uploadImagesUrl,
                                    dictDefaultMessage: imagesTranslations.drop_files,
                                    maxFilesize: 2,
                                    method: 'POST',
                                    acceptedFiles: 'image/*',
                                    autoProcessQueue: true,
                                    params: {
                                        '_token': csrf
                                    },
                                }"
                                    v-on:vdropzone-success="uploadedFile"
                                    v-on:vdropzone-queue-complete="finishedUpload"
                                    v-on:vdropzone-error="errorUpload">
                            </dropzone>
                        </div>
                    </li>
                </ul>
                <div class="uk-margin-top uk-text-center">
                    <button class="uk-button uk-button-primary uk-modal-close" type="button">{{ imagesTranslations.close }}</button>
                </div>
            </div>
        </div>
        <div v-if="showSelected && images_values">
            <div uk-grid>
                <div class="uk-width-auto" v-for="img in currentImages" v-if="currentImages" >
                    <div class="uk-inline">
                        <img :id="'img_'+img.image_id" :src="img.base64" :alt="img.name" class="uk-inline current-image-thumbnail">
                        <div class="uk-position-top-right uk-overlay uk-inline" style="padding: 4px">
                            <div @click.stop="deleteImage(img.image_id)" class="uk-text-center overlay-icon">
                                <i class="mdi mdi-delete"></i>
                            </div>
                        </div>
                        <div v-if="!disableSeo && getSeoImage(img.image_id).translations" class="uk-position-top-left uk-overlay uk-inline" style="padding: 4px">
                            <div @click.stop="onClickOpenSeo(img.image_id)" class="uk-text-center overlay-icon">
                                <i class="mdi mdi-tag-multiple"></i>
                            </div>
                        </div>
                        <!--The SEO modal linked to the seo button -->
                        <seo-image
                                v-if="!disableSeo && getSeoImage(img.image_id).translations"
                                :model="getSeoImage(img.image_id)"
                                :class-r="modelClass"
                                :unique-image="uniqueImage"
                                :id-r="idR">
                        </seo-image>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Vue from 'vue';
    import Dropzone from 'vue2-dropzone';
    import {pluck} from "../back_helper";
    Vue.component('dropzone', Dropzone);
    export default {
        name: 'image-repo-with-seo',
        props: ['csrf', 'values', 'allowRepository', 'showSelected', 'uniqueImage', 'idR', 'modelClass', 'disableSeo'],
        data() {
            return {
                images_values: null,
                images: [],
                paginate: ['images'],
                filter: '',
                perPage: 1,
                lastPage: 1,
                changingPage: false,
                previousFilter: '',
                currentImages: [],
                needFetch: true,
                imagesTranslations: window.translations_images,
                imagesUrl: window.images_url,
                uploadImagesUrl: window.upload_images_url,
                singleImageUrl: window.single_image_url,
                seoSaveImageUrl: window.seo_save_image_url,
                locales: window.locales
            }
        },
        watch: {
            filter: function(val){
                this.getRepoImages();
            },
            images_values(val) {
                if (!val) {
                    val = {};
                } else {
                    if (Array.isArray(val)) {
                        val.forEach(element => {
                            if (!element.hasOwnProperty('image_id')) {
                                element.image_id = element.id
                            }
                        })
                    } else {
                        if (!val.hasOwnProperty('image_id') && typeof val === 'object') {
                            val.image_id = val.id
                        }
                    }
                }
                this.$emit('update:values', pluck(val, 'image_id'));
                this.getCurrentImages()
            },
        },
        computed: {
        },
        methods: {
            getSeoImage(id) {
                if (this.uniqueImage)
                    return this.images_values;
                else
                    return this.images_values.find(img => img.image_id == id);
            },
            getCurrentImages() {
                if (this.needFetch) {
                    let imgs = Array.isArray(this.images_values) ? this.images_values : (this.images_values == null ? [] : [this.images_values]);
                    if (imgs && imgs.length > 0) {
                        imgs.forEach(image => {
                            this.getImage(image)
                        })
                    }
                }
            },
            onPagedImagesChange(toPage, lastPage) {
                if(!this.changingPage){
                    this.getRepoImages(toPage);
                }
                this.changingPage = false
            },
            getIsSelected(image) {
                if(this.uniqueImage)
                    return this.images_values && this.images_values.image_id == image.image_id;
                else
                    return this.images_values.find(img => img.image_id == image.image_id);
            },
            deleteImage(id) {
                this.needFetch = false;

                if (this.uniqueImage) {
                    this.currentImages.splice(this.currentImages.findIndex(file => file.image_id == id), 1)
                    this.images_values = null;
                } else {
                    var vals = this.images_values.slice();
                    let index = vals.findIndex(img => img.image_id == id);
                    if (index !== -1) {
                        vals.splice(index, 1);
                        this.currentImages.splice(this.currentImages.findIndex(file => file.image_id == id), 1)
                    }
                    this.images_values = vals;
                }
            },
            getImage(image) {
                if(image.image && image.image.base64) {
                    let img = image.image;
                    img.image_id = image.image.id;
                    this.currentImages.push(img)
                } else {
                    axios.get(this.singleImageUrl + '?id=' + image.image_id)
                            .then(response => {
                                if (response.data.name) {
                                    let image = response.data;

                                    // add in current images
                                    this.currentImages.push(image)
                                }
                            })
                            .catch((error) => {
                                console.log('Error getting image by ID');
                            });
                }
            },
            addImage(image) {
                this.needFetch = false;

                if (this.uniqueImage) {
                    console.log('dins')
                    if (this.images_values && this.images_values.image_id == image.image_id) {
                        this.deleteImage(image.image_id)
                    } else {
                        this.currentImages = [image];
                        this.images_values = image;
                    }
                } else {
                    console.log('dins2')
                    var vals = this.images_values.slice();
                    let index = vals.findIndex(img => img.image_id == image.image_id);
                    if (index !== -1) {
                        // included -> delete
                        vals.splice(index, 1);
                        this.currentImages.splice(this.currentImages.findIndex(file => file.image_id == image.image_id), 1)
                    } else {
                        // not included -> add;
                        vals.push(image);
                        this.currentImages.push(image)
                    }
                    this.images_values = vals;
                }
            },
            getRepoImages(page=1) {
                var filter = this.filter;
                axios.get(this.imagesUrl + '?page=' + page + '&filter=' + filter)
                        .then((response) => {
                            this.setImages(response.data);

                            // Prevent image request on changing page if filter has changed
                            if(this.filter != this.previousFilter){
                                this.previousFilter = this.filter;
                                this.changingPage = true;
                            }
                        })
                        .catch((error) => {
                            console.log('Error updating images');
                        });
            },
            setImages(data){
                // Set per page value
                this.perPage = data.per_page;
                this.lastPage = data.last_page;
                // Initialize images array with offset
                this.images = [...Array(this.perPage * (data.current_page-1))];
                // Fill images array
                data.data.forEach(image => {
                    this.images.push(image);
                });
                // Set images array length
                this.images.length = data.total;
            },
            uploadedFile(file, response) {
                this.needFetch = false;
                $.mdtoast(this.imagesTranslations.image_uploaded, { duration: 5000 });
                this.getRepoImages();

                var vals = this.images_values;
                if (this.uniqueImage) {
                    vals = response
                    this.currentImages = [response]
                }
                else {
                    vals.push(response)
                    this.currentImages.push(response)
                }

                this.images_values = vals
            },
            finishedUpload(files) {
                if (!this.errors) {
                    UIkit.tab(this.$refs['images-tab-' + this.idR]).show(0);
                    this.$emit('finished-upload', files);
                    if (this.$refs.paginator) {
                        this.$refs.paginator.goToPage(1)
                    }
                }
            },
            errorUpload(file, message, xhr){
                this.errors = {
                    status: 'Error',
                    message: message
                };

                if(message.includes('File is too big')){
                    swal(
                            "Error",
                            "File too big, max file size: 2MB",
                            'error'
                    );
                } else if(message.includes('You can not upload any more files')) {
                    swal(
                            "Error",
                            "Some files have not been uploaded",
                            'error'
                    );
                }
            },
            onClickOpenSeo(id){
                if (!this.disableSeo)
                    UIkit.modal('#seo-img-'+this.idR).show();
            }
        },
        created() {
            this.getRepoImages();
            this.getCurrentImages()
            this.images_values = _.cloneDeep(this.values);
        }

    }
</script>
<style>
    .lf-selected-image {
        border-color: #38C172;
        border-style: solid;
        border-radius: 5px;
        border-width: 5px;
    }
    .current-image-thumbnail {
        max-width: 125px;
        min-height: 34px;
    }
    .overlay-icon {
        cursor: pointer;
        background-color: white;
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }
    /*.overlay-icon i {
        position: relative;
        top: -2px;
    }*/
    .list-image {
        padding: 5px;
        margin-top: 0px;
        border-color: #38C172;
        cursor: pointer;
    }
</style>
