<template>
    <div id="table_app">
        <table class="uk-table" style="margin-bottom: 0px;">
            <draggable :list="elements" element="tbody" @end="$emit('dragged')" style="cursor: move;">
                <tr v-for="element in elements">
                    <!-- The SEO modal linked to the seo button -->
                    <seo
                        :save-url="seoSave"
                        :get-url="seoGet"
                        :seo-trans-url="seoTrans"
                        :languages-url="seoLanguages"
                        :locales="seoLocales"
                        class-r="App\Menu"
                        :lang-locale="null"
                        :reference="element.id"
                        :id-r="'seo-' + element.id">
                    </seo>
                    <td style="padding: 0px 0px 0px 50px;">
                        <hr>
                        <div uk-grid>
                            <div class="uk-width-auto">
                                <span class="mdi mdi-cursor-move"></span>
                                &nbsp;
                                {{ element.title }}
                            </div>
                            <div class="uk-width-expand" style="padding-top: 3px;">
                                <div class="uk-float-right">
                                    <span v-if="element.active" class="uk-text-success mdi mdi-circle"></span>
                                    <span v-if="!element.active" class="uk-text-danger mdi mdi-circle"></span>
                                    &nbsp;
                                    <switches v-model="element.active" theme="bulma" color="blue"></switches>
                                </div>
                            </div>
                            <div class="uk-width-auto">
                                <div class="uk-button-group uk-float-right">
                                    <a :href="editUrl + '/' + element.id" class="uk-button uk-button-default uk-button-small">
                                        <i class="mdi mdi-pencil"></i>
                                    </a>
                                    <a class="uk-button uk-button-default uk-button-small" :uk-toggle="'target: #seo-' + element.id">
                                        <i class="mdi mdi-tag-multiple"></i>
                                    </a>
                                    <a href="#" @click="deleteElement(element.id)" class="uk-button uk-button-danger uk-button-small">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </td>
                </tr>
            </draggable>
        </table>
    </div>
</template>

<script>
    import draggable from 'vuedraggable';
    export default {
        name: 'table_app',
        props: ['elements', 'translationsUrl', 'editUrl', 'deleteUrl', 'seoGet', 'seoSave', 'seoTrans', 'seoLanguages', 'seoLocales'],
        data () {
            return {
                menuTranslations: '',
            }
        },
        methods: {
            deleteElement(id) {
                UIkit.modal.confirm('Are you sure?').then(function() {
                    axios.post(this.deleteUrl, { menu: id })
                        .then((response) => {
                            let newElements = this.elements.filter((element) => {
                                return element.id != id;
                            });
                            this.$emit('update:elements', newElements);
                        })
                        .catch((error) => {
                            console.error('There was an error while deleting a menu');
                        });
                }.bind(this));
            }
        },
        created() {
            axios.post(this.translationsUrl)
                .then((response) => {
                    this.menuTranslations = response.data;
                })
                .catch((error) => {
                    console.error('Error getting menu translations');
                });
        },
        components: { draggable }
    }
</script>
