<template>
    <div :id="idR" uk-modal>
        <div class="uk-modal-dialog uk-modal-body" v-if="seoTranslations && languages && currentSeo">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">{{ seoTranslations.SEO }}</h2>

            <ul class="uk-flex-center" :uk-tab="'connect: #seo-content-' + idR + '; media: 960'">
                <li  v-for="(locale, key) in locales" @click="changeLocale(locale)"><a href="#">{{ languages[locale] }}</a></li>
            </ul>
            <ul :id="'seo-content-' + idR" class="uk-switcher">
                <li v-for="(locale, key) in locales">
                    <div class="uk-margin">
                        <label class="uk-form-label">{{ seoTranslations.title }} ({{ languages[locale] }})</label>
                        <div class="uk-form-controls">
                            <input v-model="currentSeo.title" class="uk-input" type="text" :placeholder="seoTranslations.title">
                            <span v-if="errors && errors.hasOwnProperty('translations.'+key+'.title')" class="uk-text-small uk-text-danger">{{ errors['translations.'+key+'.title'] }}</span>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label">{{ seoTranslations.tags }} ({{ languages[locale] }})</label>
                        <div class="uk-form-controls">
                            <input v-model="currentSeo.tags" class="uk-input" type="text" :placeholder="seoTranslations.tags">
                            <span v-if="errors && errors.hasOwnProperty('translations.'+key+'.tags')" class="uk-text-small uk-text-danger">{{ errors['translations.'+key+'.tags'] }}</span>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label">{{ seoTranslations.description }} ({{ languages[locale] }})</label>
                        <div class="uk-form-controls">
                            <textarea v-model="currentSeo.description" class="uk-textarea" :placeholder="seoTranslations.description"></textarea>
                            <span v-if="errors && errors.hasOwnProperty('translations.'+key+'.description')" class="uk-text-small uk-text-danger">{{ errors['translations.'+key+'.description'] }}</span>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label">{{ seoTranslations.canonical }} ({{ languages[locale] }})</label>
                        <div class="uk-form-controls">
                            <input v-model="currentSeo.canonical" class="uk-input" type="text" :placeholder="seoTranslations.canonical">
                            <span v-if="errors && errors.hasOwnProperty('translations.'+key+'.canonical')" class="uk-text-small uk-text-danger">{{ errors['translations.'+key+'.canonical'] }}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="uk-margin">
                <div class="uk-form-controls">
                    <switches
                            class=""
                            v-model="indexable"
                            theme="bulma"
                            :text-enabled="seoTranslations.indexable"
                            :text-disabled="seoTranslations.indexable_no"
                            type-bold="true"
                            color="blue">
                    </switches>
                    <switches
                            class="uk-margin-medium-left"
                            v-model="follow"
                            theme="bulma"
                            :text-enabled="seoTranslations.follow"
                            :text-disabled="seoTranslations.follow_no"
                            type-bold="true"
                            color="blue">
                    </switches>
                </div>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-primary" @click="update()" type="button">{{ seoTranslations.save }}</button>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['locales', 'idR', 'getUrl', 'saveUrl', 'seoTransUrl', 'languagesUrl', 'classR', 'reference', 'langLocale', 'bus'],
        data() {
            return {
                indexable: true,
                follow: true,
                currentLocale: '',
                seoTranslations: null,
                languages: null,
                seos: [],
                errors: [],
                open: '',
            }
        },
        computed: {
            currentSeo: function () {
                let seo = this.seos.find(seo => seo.locale === this.currentLocale);
                return seo ? seo : { title: '', description: '', canonical: '', tags: '', locale: this.currentLocale };
            }
        },
        watch: {
        },
        methods: {
            changeLocale: function (locale) {
                this.currentLocale = locale;
            },
            update: function () {
                axios.post(this.saveUrl, {
                    translations: this.seos,
                    indexable: this.indexable,
                    follow: this.follow,
                    class: this.classR,
                    reference: this.reference
                })
                        .then((response) => {
                            this.updateSeos();
                            $.mdtoast(this.seoTranslations.saved, { duration: 5000 });
                        })
                        .catch((error) => {
                            this.errors = cleanErrors(error, null, ['translations']).errors;
                            $.mdtoast('Error found while saving the data.', { duration: 5000, type: $.mdtoast.type.ERROR });
                        });
            },
            updateSeos: function () {
                axios.post(this.getUrl, { class: this.classR, reference: this.reference })
                        .then((response) => {
                            this.indexable = response.data.indexable;
                            this.follow = response.data.follow;
                            this.seos = response.data.translations;
                        })
                        .catch((error) => {
                            $.mdtoast('Error found while getting the seo translations...', { duration: 5000, type: $.mdtoast.type.ERROR });
                        });
            },
            onCreated: function(){
                this.updateSeos();
                axios.post(this.seoTransUrl)
                        .then((response) => {
                            this.seoTranslations = response.data;
                            var modal = UIkit.modal('#'+this.idR);
                            modal.show();

                        })
                        .catch((error) => {
                            $.mdtoast('Error while getting seo translations...', { duration: 5000, type: $.mdtoast.type.ERROR });
                        });
                axios.post(this.languagesUrl, { locale: this.langLocale ? this.langLocale : null })
                        .then((response) => {
                            this.languages = response.data;
                        })
                        .catch((error) => {
                            $.mdtoast('Error while getting the languages...', { duration: 5000, type: $.mdtoast.type.ERROR });
                        });
            },
        },
        created: function () {
            var that = this;
            this.currentLocale = this.locales[0];
            this.bus.$on('id-selected', function (id) {
                that.open = id;
                if(that.open == that.idR){
                    that.onCreated();
                }
            });
        }
    }
</script>
