<template>
    <div :id="'seo-doc-' + idR" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">{{ seoTranslations.SEO }}</h2>
            <div :id="'seo-doc-content-' + idR" >
                <div class="uk-form-controls uk-margin-medium-top">
                    <switches
                            v-model="model.seo_indexable"
                            theme="bulma"
                            :text-enabled="seoTranslations.indexable"
                            :text-disabled="seoTranslations.indexable_no"
                            type-bold="true"
                            color="blue">
                    </switches>
                </div>
                <div class="uk-margin-medium-top">
                    <button class="uk-button uk-button-primary" @click="updateSeo(model)" type="button">{{ seoTranslations.save }} </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['idR', 'saveUrl', 'seoTransUrl', 'model', 'modelClass'],
        data() {
            return {
                seoTranslations: {}
            }
        },
        methods: {
            getSeoTranslations() {
                axios.post(this.seoTransUrl)
                .then((response) => {
                    this.seoTranslations = response.data;
                })
                .catch((error) => {
                    $.mdtoast('Error while getting seo translations...', { duration: 5000, type: $.mdtoast.type.ERROR });
                });
            },
            updateSeo() {
                axios.post(this.saveUrl, {model_id: this.model.id, seo_indexable: this.model.seo_indexable, model_class: this.modelClass})
                    .then((response) => {
                        UIkit.modal('#seo-doc-'+this.idR).hide();
                        $.mdtoast(this.seoTranslations.saved, { duration: 5000 });
                    })
                    .catch((error) => {
                        $.mdtoast('Error found while saving the data.', { duration: 5000, type: $.mdtoast.type.ERROR });
                    });
            }
        },
        created: function () {
            this.getSeoTranslations();
        }
    }
</script>
