<template>
    <div :id="'seo-img-' + idR" uk-modal>
        <div class="uk-modal-dialog uk-modal-body" v-if="seoTranslations">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <h2 class="uk-modal-title">{{ seoTranslations.SEO }}</h2>
            <ul class="uk-flex-center" :uk-tab="'connect: #seo-img-content-' + idR + '; media: 960'">
                <li v-for="(trans, key) in translatable_locales" @click="changeLocale(trans.locale)"><a href="#">{{ trans.locale_name }}</a></li>
            </ul>
            <ul :id="'seo-img-content-' + idR" class="uk-switcher">
                <li v-for="trans in translatable_locales">
                    <div class="uk-margin">
                        <label class="uk-form-label">{{ seoTranslations.alt }} ({{ trans.locale_name }})</label>
                        <div class="uk-form-controls">
                            <input v-model="currentSeo.seo_alt" class="uk-input" type="text" :placeholder="seoTranslations.alt">
                            <span v-if="errors && errors.hasOwnProperty('seo_alt')" class="uk-text-small uk-text-danger">{{ errors.seo_alt[0] }}</span>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary" @click="update()" type="button">{{ seoTranslations.save }}</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['idR', 'classR', 'model'],
        data() {
            return {
                saveUrl: window.seo_save_image_url,
                seoTranslations: window.translations_seo,
                translatable_locales: window.translatable_locales,
                currentLocale: translatable_locales[0].locale,
                errors: null
            }
        },
        computed: {
            currentSeo: function () {
                return this.model.translations.find(trans => trans.locale === this.currentLocale);
            }
        },
        methods: {
            changeLocale(locale) {
                this.currentLocale = locale;
            },
            update() {
                axios.post(this.saveUrl, {
                        model_id: this.model.id,
                        model_class: this.classR,
                        translations: this.model.translations
                    })
                    .then((response) => {
                        $.mdtoast(this.seoTranslations.saved, { duration: 5000 });
                    })
                    .catch((error) => {
                        $.mdtoast('Error found while saving the data.', { duration: 5000, type: $.mdtoast.type.ERROR });
                        this.errors = error.response.data.errors;;
                    });
            }
        },
        created: function () {
            if(this.model.translations.length === 0)
                this.$set(this.model, 'translations', this.translatable_locales);
        }
    }
</script>
