﻿/* Toast */
.md-toast-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100001;
}
.md-toast {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
    left: 32px;
    bottom: 32px;
    color: #fff;
    opacity: 1;
    font-size: 14px;
    max-width: 700px;
    text-align: left;
    pointer-events: auto;
    -moz-user-select: none;
    user-select: none;
    background-color: #323232;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-transform: translateY(0);
    transform: translateY(0);
	-moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
	-moz-transition: -moz-transform .3s cubic-bezier(.4,0,.2,1), opacity .2s linear;
	transition: transform .3s cubic-bezier(.4,0,.2,1), opacity .2s linear;
    z-index: 100002;
}
    .md-toast.load {
        -moz-transform: translateY(32px);
        transform: translateY(32px);
        opacity: 0;
    }
    .md-toast.info { background-color: #1976d2; }
    .md-toast.error { background-color: #e53935; }
    .md-toast.warning { background-color: #ef6c00; }
    .md-toast.success { background-color: #2e7d32; }
    .md-toast .mdt-message {
    	flex: 1 auto;
    	display: block;
    	padding: 16px 24px;
    }
    .md-toast .action {
        /*float: right;*/
        color: #ffeb3b;
        /*margin-left: 48px;*/
        text-align: center;
        cursor: pointer;
        font-weight: 500;
        padding: 16px 24px;
    }

body.md-toast-modal { pointer-events: none; }

@media (max-width: 767px) {
    .md-toast {
        left: 0;
        bottom: 0;
        right: 0;
        font-weight: 500;
        -moz-transform: translateY(0);
        transform: translateY(0);
        -moz-border-radius: 0;
        border-radius: 0;
        -moz-box-shadow: none;
        box-shadow: none;
    }
        .md-toast.load {
            opacity: 1;
            -moz-transform: translateY(100%);
            transform: translateY(100%);
        }
}
/* End Toast */
