/*
	If you add a custom font in the Quill, do this for each font:
	The span (the option of the toolbar font select)
	.ql-font {
		span[data-value="Comfortaa-Regular"]::before {
			content: "Comfortaa-Regular" !important;
			font-family: "Comfortaa-Regular";
		}
	}
	And the font-family for the quill content
	.ql-font-Comfortaa-Regular {
		font-family: "Comfortaa-Regular";
	}

*/