*, .ql-editor {
	font-family: 'Futura-Book';
}
.body--background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #F5F5F5;
	z-index: -99;
}
.fadder {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	background-color: #000000;
	opacity: 0;
	z-index: 9;
}
#menu-toggle {
	display: none;
}
.light-text {
	font-weight: 300;
}
.thin-text {
	font-weight: 100;
}
.circle-image {
	border-radius: 50%;
}
h1, h2, h3, h4 {
	@extend .light-text;
}
.back--gradient {
	background: $global-primary-background; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, $global-primary-background, $global-secondary-background); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, $global-primary-background, $global-secondary-background); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, $global-primary-background, $global-secondary-background); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, $global-primary-background 50%, $global-secondary-background); /* Standard syntax */
}
.back--gradient-linear {
	background: $global-primary-background; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient($global-primary-background, $global-secondary-background); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($global-primary-background, $global-secondary-background); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($global-primary-background, $global-secondary-background); /* For Firefox 3.6 to 15 */
	background: linear-gradient($global-primary-background, $global-secondary-background); /* Standard syntax */
}
body, html {
	height: 100%;
	width: 100%;
}
.logo {
	color: #FF0000;
}
.full-background {
	@extend .back--gradient;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.space-text {
	letter-spacing: 1.25px;
	text-transform: uppercase;
}
.uk-card-header {
	@extend .space-text;
	font-size: 0.9em;
}
.sidebar {
	@extend .uk-box-shadow-medium;
	z-index: 10;
	position: fixed;
	width: $sidebar-width;
	top: 0;
	height: 100%;
	background-color: #FFFFFF;
	overflow-y: auto;
}
.sidebar-padder {
	padding-left: $sidebar-width;
}
.sidebar-padder > nav {
	padding: 0px 25px 0px 25px;
	background-color: $global-primary-background;
}
.sidebar--user {
	@extend .uk-text-center;
	background-color: darken($global-primary-background, 0%);
	box-shadow: 0 3px 6px rgba(0,0,0,0.13), 0 3px 6px rgba(0,0,0,0.13);
	color: white;
	padding-top: 47px;
	padding-bottom: 47px;
}
.sidebar--user > img {
	//@extend .circle-image;
	height: 100px;
	width: 150px;
}
.sidebar--user > span {
	@extend .uk-margin-small-top, .uk-margin-small-bottom;
	display: block;
}
.sidebar--user--name {
	font-size: 1.15em;
}
.sidebar--user--email {
	font-size: 0.9em;
}
.sidebar--navigation {
	padding-top: 25px;
	padding-bottom: 25px;
}
.sidebar--navigation > ul > li > a {
	margin: 0px 25px 0px 25px;
}
.sidebar--navigation ul.uk-nav-sub {
	margin: 0px 25px 0px 25px;
	padding: 0px 0 5px 15px;
}
.sidebar--navigation .uk-nav-sub a {
	padding: 5px 0;
}
.sidebar--navigation > ul > li {
	@extend .space-text;
}
.sidebar--navigation > ul > li.active {
	border-left: 3px solid $global-secondary-background;
}
.sidebar--navigation > ul > li.active > a {
	margin-left: 22px;
	color: $global-secondary-background;
	font-weight: bold;
}
.sidebar--navigation li .uk-nav-sub li.active a {
	//margin-left: 22px;
	color: $global-secondary-background;
	font-weight: bold;
}
.header {
	@extend .uk-container, .uk-container-large, .back--gradient;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	padding-top: 10px;
	padding-bottom: calc(10px + 80px);
	max-width: 100% !important;
}
.header--title {
	@extend .thin-text;
	display: block;
	font-size: 2.5em;
	color: #FFFFFF;
}
.header--subtitle {
	@extend .thin-text;
	display: block;
	font-size: 1.25em;
	color: #FFFFFF;
}
.content {
	@extend .uk-container, .uk-container-large;
	margin-top: 25px;
}
.feature-icon {
	font-size: 100px;
}
.feature-text {
	font-size: 2.5rem;
}
.feature-desc {
	@extend .space-text;
	font-size: 1.5rem;
}
hr {
	margin: 10px 0px 10px 0px !important;
	padding: 0px !important;
}
@media (max-width: 960px) {
	.sidebar-padder {
		padding-left: 0px;
	}
	.sidebar {
		visibility: hidden;
	}
	#menu-toggle {
		display: inline;
	}
}
.ql-container {
	 @extend .ql-container;
	 min-height: 200px !important;
}
.loader {
	position: fixed;
	top: 0;
	bottom: 0%;
	left: 0;
	right: 0%;
	background-color: black;
	z-index: 9999;
	display: none;
	width: 100%;
}
.loader > div {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 100%;
}
[v-cloak] {
  display: none;
}
.ql-editor p ,
.ql-editor ul,
.ql-editor ol,
.ql-editor blockquote
{
  font-size: 16px !important;
  line-height: 24px !important;
}
.lf-breadcrumb,
.lf-breadcrumb:visited {
	color: inherit !important;
	text-decoration: none;
}
.lf-breadcrumb:hover {
	opacity: 0.75;
}
.uk-pagination > .uk-active > * {
  color: red !important;
}
.pagination{
    padding-left: 0px;
}
.pagination li{
    width: calc(14px + 1vw);
	font-size: calc(2px + 1vw);
	display: inline-block;
	text-align: center;
}
.pagination li a{
	color: #666;
}
.pagination li.active span{
	color: white !important;
}
.pagination li.active{
    background-color: #E30613;
}

.vue-switcher__label span {
	font-size: 0.875rem;
	color: #333;
}

.vue-switcher input {
	margin-top: -35px;
}